/*box model comment*/
h1 {
    color: orange;
    font-size: 30px;
    padding-bottom: 5px;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box{
    width: 300px;

}
body {
    background: linear-gradient(blue  , black)
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.contact-further {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}


p {
    font-size: 20px;
    color: orange;
    position: relative;
    margin: 10 20px;
    padding: 5px;
    min-width: 300px;
}

li {color: orange;
    font-size: 20px;
    padding: 2px;
    text-align: left;
    width: 500px;
}

h2 {
    text-align: center;
    color: orange;
    padding: 5px;
    font-size: 20px;
    display: block;
}
h3 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    padding: 10px;
}

form {
    color: orange;
    font-size: 20px;
}

table {
    color: orange;
    text-align: center;
}
caption {
    font-style: inherit;
}

header {
    text-align: center;
}

h4 {
    text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: orange;
}
a {
    padding: 0;
}

a {
    text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: orange;
}

table{
    margin: 10 20px;
}
th{
    font-style: bold;
}